body {
    padding: 0;
    margin: 0;
    font-family: Arial,Helvetica,Sans-serif;
}

/* Cabeçalho */
#cabecalho {
    height: 74px;
    padding: 10px 0;
    border-bottom: 1px dashed #c3c3c3;
}

#cabecalho #logo {
    float: left;
    height: 74px;
    width: 300px;
}

#cabecalho #logo img {
    border: none;
}

#cabecalho #navegacao {
    position: relative;
    top: 17px;
    margin-left: 33%;
}

#cabecalho #navegacao ul {
    background-color: transparent;
    display: block;
    height: 40px;
    line-height: normal;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    white-space: nowrap;
    -moz-border-radius:5px;
    -khtml-border-radius:5px;
    -webkit-border-radius:5px;
}

#cabecalho #navegacao ul li{
    background-color: transparent;
    display: block;
    float: left;
    height: 40px;
    height: 40px;
    -moz-border-radius:5px;
    -khtml-border-radius:5px;
    -webkit-border-radius:5px;
}

#cabecalho #navegacao ul li a {
    color: #69B92D;
    display: block;
    height: 40px;
    left: 0px;
    top: 0px;
    line-height: 40px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width:110px;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}

#cabecalho #navegacao ul li a:hover{
    color: #ffffff;
}

#cabecalho #navegacao ul li:hover {
    background-color: #69B92D;
    border: 1px solid #69B92D;
    position: relative;
    top: -1px;
    border-right: none !important;
}

/* conteudo */
#conteudo {
    width: 960px;
    margin: 0 auto;
}

/* Rodapé */
#rodape {
    border-top: 1px dashed #c3c3c3;
    border-bottom: 1px dashed #c3c3c3;
    color: #69B92D;
    padding:5px;
    text-align:center;
    clear:left;
    font-size: 14px;
}

#rodape #logo_iff {
    float: left;
    position: relative;
    top: -3px;
}

#rodape #links_rodape {
    height:20px;
    text-align:center;
}

#rodape #links_rodape a{
    text-decoration:none;
    color:#69B92D;
    font-size: 14px;
}

#rodape #django_powered {
    width: 100px;
    height: 43px;
    float: right;
    position: relative;
    top: -40px;
}