{% extends "pagina_base.html" %}

{% block titulo %} - Programação{% endblock titulo %}

{% block estilo_extra %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/estilo/pythoncampusiff_programacao/programacao.css"/>
{% endblock estilo_extra %}

{% block conteudo %}
    <h1>Programação</h1>
    <div id="programacao">
        {% for atividade in atividades %}
            <div class="atividade">
                <div class="cabecalho">
                    {{ atividade.tipo }} - {{ atividade.titulo }} <span>{{ atividade.hora }}</span>
                </div>
                <div class="dados">
                    {{ atividade.resumo}}<br />
                    Local: <span class="local">{{ atividade.local }}</span>
                    <div class="responsavel">
                        <div class="foto">
                            <img src="{{ MEDIA_URL }}/{{ atividade.responsavel.foto }}" alt="{{ atividade.responsavel.nome }}" title="{{ atividade.responsavel.nome }}" />
                        </div>
                        <div class="descricao">
                            <span class="nome_responsavel">{{ atividade.responsavel.nome }}</span><br />
                            {{ atividade.responsavel.minicurriculo|linebreaksbr }}<br />
                            Instituição/Empresa: {{ atividade.responsavel.instituicao }}
                        </div>
                        <div class="site">
                            <a href="{{ atividade.responsavel.site }}">{{ atividade.responsavel.site }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock conteudo %}