{% extends "pagina_base.html" %}

{% block titulo %} - Início{% endblock titulo %}

{% block conteudo %}
    <h1>O que é?</h1>
    <p>
        <strong>PythonCampus</strong> é uma caravana de tecnologia que visita as universidades integrando estudantes ao mercado.
        Este é o evento que mostra que é possível transformar a paixão por tecnologia em uma carreira de sucesso.
        O evento é <strong>gratuito</strong> e aberto ao público em geral.<br /> Fonte: <a href="http://pythoncampus.org" title="pythoncampus.org">pythoncampus.org</a>
    </p>
    <h1>Onde e Quando?</h1>
    <p>
        O <strong>NSI (Núcleo de Pesquisa em Sistemas de Informção)</strong> trará a caravana PythonCampus para o
        <strong>Instituto Federal Fluminense Campus Campos-Centro</strong>, no dia <strong>12 de novembro de 2010</strong> (sexta-feira)
        das <strong>8:00 às 22:00</strong>.
    </p>
    <h1>O que teremos?</h1>
    <p>
        Durante o evento teremos minicursos, palestras, coding dojo e muito mais, além de uma grande oportunidade para <i>networking.</i><br />
        <strong>Confira a programação para maiores detalhes.</strong>
    </p>
{% endblock conteudo %}